

body {
    padding-top:60px;
    margin: auto;
}

.story {
    color: #000;
    font-family: Calibri;
    font-size: 10px;
    padding-top: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.universal-inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.social-icons {
  text-align: center;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.5em;
  color: #448aaf;
}

.social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-icons ul li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0 15px 35px;
  vertical-align: middle;
  
}
.social-icons ul li a {
  display: block;
  font-size: 1.2em;
  margin: 0 5px;
  text-decoration: none;
}

.social-icons ul li a i {
  color: #448aaf;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.social-icons ul li a:hover i {
  color: #275066;
}
.social-icons ul li a:focus i,
.social-icons ul li a:active i {
  transition: none;
  color: #448aaf;
}



/* choose a light or dark theme to add to the body tag. */
.dark-theme {
    background-color: #181414;
    color: #fcfbfb;   
}

.light-theme {
    background-color: white;
    color: black;    
}

.beige-theme {
    background-color: #f9f1e6;
    color: black;    
}

img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;

}

.container {
        max-width: 1140px;
}


.col-sm-5 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 0px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    min-height: 350px;
    max-height: 350px;
    margin-bottom: 60px;
  }

.card:hover {
    transform: scale(1.05);
    /* box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2); */
  }

.card-body {
    flex: 1 1 auto;
    padding: 1rem;
}





/* ******** */


/*
super-font
.headline
.kicker
.subhead
.label
.label-text
.credit

sub-font
.date
.body-text
.note
*/



.super-font, h1, .label + p {
    font-family: 'Lato', sans-serif;
}

.sub-font, p, ul, li {
    font-family: 'Lato', sans-serif;
}

li {
    max-width: 10%;
    margin: 0px 0px 15px -35px;
}

.headline-name, h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 70px;
    line-height: 0.9;
    margin-bottom: -10px;
    margin-top: 0px;
    font-weight: 800;
}

.headline, h1 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    font-weight: 500;
}

.body-text {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-top: 1.5rem;
    text-align: left;

}

.kicker {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.credit  {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 0.75;
    margin-top: 2rem;
    font-weight: 400;
    text-transform: none;
}

.date {
    font-size: 15px;
    line-height: 1;
    margin-top: 0.25;
    font-weight: 400;
    font-style: italic;
}

.intro {
    line-height: 1;
    margin-top: 2rem;
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
}

.subhead, h3 {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 1.3;
    margin-bottom: 0.5rem;
    margin-top: -5px;
    font-weight: 700;
}

/* .subhead, h2 {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 0.5rem;
    margin-top: -5px;
    font-weight: 700;
} */

.label {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.label-text, .label + p {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.note, p.img + p {
    font-size: 0.85rem;
    line-height: 1.5;
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.caption  {
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.preview-image {
    width:300px;
    height:200px;
    /* filter: grayscale(100%);
    -webkit-filter: grayscale(100%); */
}

.preview-image:hover {
    width:300px;
    height:200px;
    /* filter: none;
    -webkit-filter: grayscale(0); */
}

.actual_slug {
    font-size: 14px;
    margin-top: 10px;
}

img.social {
    max-width: 35%;
}

#bio p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-bottom: 40px;
}

#bio a {
    color: #448aaf;
}

.story {
    max-width: 750px;
}




@media screen and (max-width: 400px) {

    .container {
        max-width: 375px;
    }

    .card-body {
        margin-top: 5px;
    }

    .card {
        margin-bottom: 30px;
    }

    .story {
        color: #000;
        font-family: Calibri;
        font-size: 10px;
        padding-top: 15px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-align: center;
    }

    .social-icons {
        text-align: left;

    }

    .social-icons ul li {
        margin: 0px 12px 25px 13px;
        vertical-align: middle;
        
      }
    .social-icons ul li a {
        font-size: 1.2em;
        margin: 0 5px;
      }

    .preview-image {
        width:375px;
        height:250px;
        filter: none;
    }


    .col-sm-5 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .col-sm-7 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-top: 15px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .actual_slug {
        display:none;
    }

    .headline-name, h1 {
        font-family: 'Exo 2', sans-serif;
        font-size: 60px;
        line-height: 0.9;
        margin-bottom: -5px;
        margin-top: 0px;
        font-weight: 700;
        text-align: center;
        margin-left: -2px;
    }

    .subhead, h3 {
        font-size: 20px;
        text-align: center;
        line-height: 1.5;
        font-weight: 700;
    }

    .headline, h1 {
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 0.25rem;
        margin-top: 1rem;
        text-align: left;
        font-weight: 500;
    }

    .credit  {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 2rem;
        font-weight: 400;
        text-transform: none;
    }

    img.social {
        max-width: 60%;
    }

    #bio p {
        font-family: 'Lato', sans-serif;
        font-size: 17px;
        text-align: center;
        margin-bottom: 30px;
    }

    #bio a {
        color: #448aaf;
    }

}
